** { box-sizing: border-box; }

#fondo{
  display: grid;
}

#mapa {
position: relative;
  grid-column: 1 / 2;
  width: 1600px;
  height: 900px;
}

#menu { grid-column: 2 / 3; }


#MonstruosN , #MonstruosE , #Buffos , #Plantas{
  position: absolute;
  width: 1600px;
  height: 900px;
  top: 0;
  left: 0;
}

.MonstruoN, .MonstruoE, .Buffo, .planta{
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.MonstruoN{
background-color: yellow;
}

.MonstruoE{
  background-color: purple;
}

.Buffo{
  background-color: red;
}

.planta{
  background-color: green;
}

#MonstruoN1{
top: 495px;
left: 485px;
}

#MonstruoN2{
top: 345px;
left: 1075px;
}

#MonstruoN3{
top: 295px;
left: 365px;
}

#MonstruoN4{
top: 425px;
left:1220px;
}

#MonstruoN5{
top: 455px;
left:755px;
}

#MonstruoN6{
top: 150px;
left:820px;
}

#MonstruoN7{
top: -60px;
left: 703px;
}

#MonstruoN8{
top: 555px;
left:880px;
}

#MonstruoN9{
top: 60px;
left:550px;
}

#MonstruoN10{
top: 330px;
left: 1050px;
}

#MonstruoE1{
top: 245px;
left: 585px;
}

#MonstruoE2{
top: 620px;
left: 1000px;
}

#buffo1{
top: 670px;
left: 820px;
}

#buffo2{
top: 180px;
left: 760px;
}

#buffo3{
top: 340px;
left: 485px;
}

#buffo4{
top: 380px;
left: 1085px;
}

#planta1{
top: 190px;
left: 670px;
}

#planta2{
top: 660px;
left: 915px;
}

#planta3{
top: 385px;
left: 550px;
}

#planta4{
top: 330px;
left: 1020px;
}

#planta5{
top: 500px;
left: 910px;
}

#planta6{
top: 400px;
left: 1120px;
}

#planta7{
top: 150px;
left: 465px;
}

#planta8{
top: 90px;
left: 705px;
}

#planta9{
top: 10px;
left: 465px;
}

#planta10{
top: 40px;
left: 630px;
}

#planta11{
top: 280px;
left: 985px;
}

#planta12{
top: 305px;
left: 1125px;
}

.monsters{
position: absolute;
top: 16px;
left: 16px;
display: none;
}


.Monsters img {
  z-index: 5;
}








.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #efee;
}


.container:hover input ~ .checkmark {
  background-color: #ecc;
}


.container input:checked ~ .checkmark {
  background-color: #2196E3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
